@import url('cart.css');
@import url('admin.css');

:root {
	--clr-accent-light: rgb(247, 247, 247);
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

.books {
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
}

.single-book {
	width: 400px;
	height: 400px;
	text-align: center;
	margin: 10px;
}

.single-book img {
	width: 200px;
	height: 300px;
	align-self: center;
}

.book {
	display: flex;
	justify-content: center;
}

.book img {
	width: 300px;
	height: 450px;
	margin: 10px;
}

.book-info {
	width: 450px;
	margin-left: 40px;
}
