body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.books {
  display: flex;
  justify-content: space-around;
}

.single-book {
  width: 375px;
  height: 350px;
  text-align: center;
  padding: 5px;
}

.single-book img {
  width: 200px;
  height: 300px;
  align-self: center;
}

.book {
  display: flex;
  justify-content: center;
}

.book img {
  width: 300px;
  height: 450px;
  margin: 10px;
}

.book-info {
  width: 450px;
  margin-left: 40px;
}

