@import url('cart.css');
@import url('admin.css');
@import url('checkout.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

:root {
	--clr-accent-light: rgb(247, 247, 247);
	--clr-accent-dark: rgb(216, 216, 216);
}

body {
	font-family: 'Barlow Condensed', sans-serif;
}

nav {
	font-size: 17px;
	background: #d55b3e;
}

a {
	text-decoration: none;
}

nav a {
	color: #fcf4d9;
}

button {
	cursor: pointer;
	background-color: #00aaa0;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 12px;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

.books {
	display: flex;
	flex-wrap: wrap;
}

.single-book {
	width: 400px;
	height: 400px;
	text-align: center;
	margin: 10px;
}

.single-book img {
	width: 200px;
	height: 300px;
	align-self: center;
}

.book {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.book img {
	width: 300px;
	height: 450px;
	margin: 10px;
}

.book-info {
	width: 450px;
	margin-left: 40px;
}

.book-info h2 {
	color: #97442f;
}